body {
  font-family: "Poppins";
  font-style: normal; }

h1 {
  color: rgba(202, 57, 57, 0.89);
  text-align: center; }

h5 {
  color: black;
  text-align: center;
  padding-top: 40px; }

p {
  color: grey; }

.topNav {
  overflow: hidden;
  width: 100%;
  display: table;
  text-align: center;
  padding-top: 25px;
  color: #916A5F;
  background-color: #FFFFFF;
  height: 80px; }

.topNav a {
  float: inherit;
  display: inline-table;
  color: #916A5F;
  text-align: center;
  padding-top: 30px;
  padding-inline: 25px;
  font-style: bold;
  text-decoration: none;
  font-size: 17px; }

.topNav a:hover {
  color: #CC9966; }

.topNav a.active {
  color: #CC9966; }

ul {
  list-style: none;
  font-size: 0; }

li {
  display: inline-block;
  font-size: 17px; }

ul ul {
  position: absolute;
  display: none;
  text-align: left;
  background-color: whitesmoke;
  z-index: 1; }

ul li:hover ul {
  display: block; }

.logo {
  display: flex;
  flex-direction: column;
  margin-left: auto;
  margin-right: auto;
  width: 150px;
  height: 150px; }

/*BODY*/
.imageBody {
  width: 100%; }

h2 {
  float: right;
  width: 100%;
  font-family: "Poppins";
  color: #916A5F;
  font-size: 50px;
  text-align: center;
  display: inline;
  padding-top: 100px; }

.textoBody {
  float: none;
  display: inline;
  width: 50px;
  font-family: "Poppins";
  font-size: 25px;
  text-align: center;
  color: #CE9D6B; }

.gridLinea {
  display: grid;
  grid-template-columns: auto;
  grid-template-rows: auto;
  justify-items: center;
  align-items: center;
  margin-bottom: 25px; }

.linea {
  height: 150px;
  width: 3px;
  background-color: #CC9966; }

.boxCafes {
  display: grid;
  gap: 2rem;
  grid-template-columns: auto auto auto;
  grid-column: auto;
  justify-items: center;
  align-items: center; }

/*FOOTER*/
i {
  size: 15px;
  color: grey; }

h6 {
  color: grey;
  font-size: 17px; }

.conTact i {
  color: grey; }

.text-white {
  color: grey; }

.text-whiteh {
  text-decoration: none;
  color: grey; }

.form {
  display: flex;
  justify-content: left;
  align-content: left;
  padding-top: 50px;
  padding-bottom: 50px; }

.map-responsive {
  overflow: hidden;
  padding-bottom: 50%;
  position: relative;
  height: 0; }

.map-responsive iframe {
  left: 0;
  top: 0;
  height: 100%;
  width: 100%;
  position: absolute; }

.parrafo-foto {
  margin-left: 350px;
  padding-top: 50px;
  text-align-last: left; }

.img-Paulie {
  float: left;
  width: 25%;
  padding-top: 50px;
  padding-bottom: 15px; }

.about {
  float: left; }

.sign-Paulie {
  float: right;
  width: 30%;
  padding-top: 15px;
  padding-bottom: 50px; }

div.gallery {
  border: 1px solid #ccc; }

div.gallery:hover {
  border: 1px solid #777; }

div.gallery img {
  width: 100%;
  height: auto; }

div.desc {
  padding: 15px;
  text-align: center; }

* {
  box-sizing: border-box; }

.responsive {
  padding: 0 6px;
  float: left;
  width: 24.99999%; }

@media only screen and (max-width: 700px) {
  .responsive {
    width: 49.99999%;
    margin: 6px 0; } }

@media only screen and (max-width: 500px) {
  .responsive {
    width: 100%; } }

.clearfix:after {
  content: "";
  display: table;
  clear: both; }

.responsive {
  color: #777; }

.Eventos {
  float: right;
  width: 100%;
  font-family: "Poppins";
  color: #916A5F;
  font-size: 50px;
  text-align: center;
  display: inline;
  padding-top: 50px;
  padding-bottom: 25px; }

h3 {
  display: inline-block;
  font-size: 32px;
  line-height: 36px;
  position: relative;
  padding-top: 50px;
  margin-top: 28px;
  margin-bottom: 15px; }

h3:before {
  left: -40px;
  height: 0;
  height: 1px; }

h3:before, h3:after {
  content: "";
  position: absolute;
  bottom: 18px;
  height: 1px;
  width: 40px;
  margin: 0 -15px;
  background-color: #533834; }

h3:after {
  right: -40px; }

h5 {
  font-size: 16px;
  line-height: 22px;
  margin: 0 0 15px;
  font-weight: 400; }

.item {
  position: relative;
  overflow: hidden;
  margin-bottom: 20px; }

.item h4, .item p {
  display: block;
  clear: both;
  color: #533834; }

.item p {
  clear: both;
  color: #938372;
  margin-left: 5px; }

.item span:first-of-type {
  background-image: linear-gradient(to right, rgba(56, 47, 47, 0.5) 33%, rgba(0, 0, 0, 0) 0%);
  background-position: bottom;
  background-size: 3px 1px;
  background-repeat: repeat-x;
  height: 1px;
  width: 100%;
  position: absolute;
  top: 22px; }

/* Dots in IE */
@media screen and (-ms-high-contrast: active), (-ms-high-contrast: none) {
  .dots {
    background: transparent url("/img/dot.gif") repeat-x bottom left; } }

.badge {
  display: inline-block;
  padding: 0 10px;
  background: #d2c82a;
  font-size: 12px;
  font-weight: 300;
  line-height: 26px;
  color: #fff;
  text-align: center;
  vertical-align: middle;
  text-transform: uppercase;
  border: 1px solid rgba(0, 0, 0, 0.05);
  letter-spacing: 1px;
  border-radius: 3px;
  margin: -2px 5px 0 0; }

.note {
  padding: 0 5px 0 7px;
  min-width: 23px;
  background: rgba(0, 0, 0, 0);
  border: 1px solid #382f2f;
  color: #382f2f;
  box-sizing: border-box;
  border-radius: 12px;
  line-height: 21px; }

.veggie {
  color: #82b440;
  border-color: #82b440; }

.spicy {
  color: #ec4e00;
  border-color: #ec4e00; }

.item span:nth-of-type(2n) {
  position: absolute;
  font-size: 22px;
  font-weight: 400;
  right: 0;
  padding-left: 8px;
  background-color: #fff;
  z-index: 0; }

.item h4 {
  display: inline-block;
  padding-right: 8px;
  font-size: 1.25rem;
  max-width: 80%;
  text-transform: capitalize;
  margin-bottom: 4px;
  position: relative; }

.HeroCafe {
  width: 100%;
  height: 100%;
  padding-top: 25px; }

.parrafo-our {
  padding-top: 25px; }

.card-title {
  text-align: center; }
